/* .containerStyle{
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.menuStyle{
    height: auto;
    width: 15%;
    background-color: black;
} */
body{
    height: 100vh;
    background-color: rgba(74, 73, 73, 0.278)!important;
}
.conteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: flex-start;
}
.containerStyle{
    display: flex;
    flex-direction: column;
}
.menuStyle{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: flex-end;
}
.linkLista{ 
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    color:white;
    justify-content: flex-end;
}
.linkStyle{
    font-family: monospace;
    color:white;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 20px;
}
.linkStyle:hover{
    color:blue;
}
.carregando{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px 0px 10px;
    width: 50%;
    height: auto;
}
.active{
    color:blue;
}
.lembranca{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.lembranca .card{
    height: auto;
    background-color: white!important;  
}
.lembranca .cards{
    margin-top: 5px;
    margin-bottom: 5px;
}
.lembranca .card .btn{
    width: 100%;
}
@media screen and (max-width:780px){
    .containerStyle{
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .menuStyle{
        height: 7vh;
        width: 100%;
        background-color: black;
    }
    .conteudo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .formulario{
        margin-top: 10px;
        width: 70%;
        height: auto;
    }
}
@media screen and (max-width:540px){
    .linkStyle{
        font-size: 15px;
    }
}
@media screen and (max-width:420px){
    .linkStyle{
        font-size: 14px;
    }
    .formulario{
        margin-top: 10px;
        height: 33vh;
    }
}
@media screen and (max-width:380px){
 
}
@media screen and (max-width:280px){
    .linkStyle{
        font-size: 8px;
    }
    .formulario{
        margin-top: 120px;
        width: 90%;
        height: 42vh;
    }
}